/*
[Master Stylesheet] 
Project: Consulting Html
-------------------------------------------------------------------*/


/********************************************************
1. body start
 *******************************************************/
:root {
    --box1-color: #ffffff;
    --box2-color: #2b3649;
    --box3-color: #222222;
    --box4-color: #ff8a4c;
    --box5-color: rgb(121, 121, 121);

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Manrope";
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-transform: capitalize;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    word-break: break-word;
}

img {
    max-width: 100%;
}

input,
textarea,
select,
button,
label,
svg,
svg path,
svg rect,
svg polygon,
img,
a,
:after,
:before,
:hover,
:focus,
.form-control:focus {
    outline: none !important;
    box-shadow: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0px;
    word-break: break-word;
}

/* button css */
/* button css end*/
/*--------- banner section--------- */
.ea_banner_wrapper {
    background-image: url(../images/banner.png);
    position: relative;
    background-position: bottom;

}

.ea_logo img {
    padding: 14px 20px;
    border-radius: 0px 0px 34px 34px;
    background-color: var(--box1-color);
}

.ea_banner_content a {
    padding: 15px 39px;
    border-radius: 25px;
    filter: drop-shadow(1.721px 2.457px 8px rgba(0, 0, 0, 0.1));
    background-color: var(--box1-color);
    font-size: 18px;
    color: var(--box2-color);
}

.ea_logo {
    margin-bottom: 50px;
}

h2.ea_inner_h2 {
    padding-bottom: 80px;
}

.ea_banner_content {
    text-align: center;
    padding-bottom: 15px;
}

.ea_banner_content h2 {
    font-size: 50px;
    letter-spacing: 1px;
    color: var(--box1-color);
    font-weight: 800;
    text-align: center;
}

/*------- premium plugines section -------*/
.ea_premium_section {
    padding-top: 120px;
    position: relative;
}

.ea_premium_section:before {
    position: absolute;
    content: "";
    top: -123px;
    left: 56px;
    right: 0;
    bottom: 0;
    background-image: url(../images/BG-shapes-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ea_premium_heading h2 {
    font-size: 38px;
    color: var(--box3-color);
    font-weight: 700;
    padding-top: 138px;
    text-transform: inherit;
}

.ea_premium_img p {
    font-size: 20px;
    color: var(--box3-color);
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.ea_premium_img {
    text-align: center;
    padding: 17px 0px;
    border-radius: 10px;
    filter: drop-shadow(0 0 25px rgba(106, 92, 178, 0.2));
    background-color: #ffffff;
    margin-bottom: 24px;
    max-width: 230px;
    max-height: 198px;
    width: 100%;
}

.ea_premium_section .container .row {
    justify-content: center;
}

.ea_premium_heading {
    position: relative;
}

.ea_premium_heading:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 3px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
    bottom: -21px;
}

.ea_man_inner_man {
    text-align: center;
}

.ea_banner_img {
    text-align: center;
    position: relative;
    top: 72px;
}

.ea_banner_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/banner-bf-shapes.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* ----man section3--------*/
.ea_man_sectino {
    background-color: #fff9f5;
    margin-top: 80px;
    padding-top: 50px;
}

.ea_admin h2 {
    font-size: 20px;
    color: var(--box4-color);
    font-weight: 800;
    text-align: center;
}

.ea_admin p {
    font-size: 20px;
    color: var(--box3-color);
    font-weight: 500;
    text-align: center;
    padding-top: 10px;
}

.ea_man_inner_man {
    text-align: center;
}

.ea_btn a {
    width: 143px;
    height: 45px;
    display: block;
    padding: 10px 30px;
    border-radius: 22px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(-51deg, #ff874c 0%, #fdc72f 100%);
    color: var(--box1-color);
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -24px;
}

.ea_admin {
    max-width: 370px;
    height: auto;
    display: block;
    border-radius: 10px;
    filter: drop-shadow(5.851px 5.456px 8px rgba(255, 139, 75, 0.2));
    background-color: var(--box1-color);
    border: 2px dashed #feb03b;
    padding-top: 28px;
    position: relative;
    margin-top: 30px;
    padding: 40px 0px;
}

a.ea_get_btn:hover {
    box-shadow: 0px 0px 0px 30px #fea440 inset;
    border: 2px solid #fff;
    color: #fff;
}

/* -------mobail section4-------  */
.ea_mobail_section {
    margin-top: 80px;
}

.ea_student_box h2 {
    color: var(--box3-color);
    font-weight: 800;
    text-align: center;
    padding-top: 12px;
}

.ea_student_box p {
    font-size: 24px;
    color: var(--box3-color);
    font-weight: 400;
    text-align: center;
}

.ea_student_box {
    max-width: 370px;
    height: auto;
    padding-bottom: 32px;
    padding-top: 10px;
    display: block;
    border-radius: 10px;
    background-color: var(--box1-color);
    border: 2px dashed #feb03b;
    position: relative;
    margin: 71px auto;
}

.ea_btn2 a {
    width: 143px;
    height: 45px;
    display: block;
    padding: 10px 30px;
    border-radius: 22px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(-51deg, #ff874c 0%, #fdc72f 100%);
    color: var(--box1-color);
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -24px;
}

.ea_app_box {
    max-width: 299px;
    height: auto;

    display: block;
    border-radius: 10px;
    background-color: var(--box1-color);
    border: 2px dashed #feb03b;
    margin: 50px auto auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 26px;

}

.ea_app_box h2 {
    font-size: 18px;
    color: var(--box3-color);
    font-weight: 800;
}

.ea_app_box img {
    padding-top: 17px;
}

/* -------buy eacademy section5 ------- */
.ea_by_eacademy_section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

}

.ea_by_eacademy_para li {
    font-size: 20px;
    color: var(--box3-color);
    font-weight: 400;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

span.ea_orange_text {
    color: #ff8c4b;
}

.ea_by_eacademy_para li img {
    padding-right: 10px;
}

.ea_by_eacademy_para {
    padding: 35px 65px;
    border-radius: 10px;
    filter: drop-shadow(0 0 25px rgba(106, 92, 178, 0.1));
    background-color: var(--box1-color);
    margin-top: 93px;
    position: absolute;
    left: 18%;
    max-width: 700px;
    width: 100%;
    z-index: 1;

}

/* -------customer section6------- */
.ea_customer_section {
    background-color: #fff9f5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ea_customer_heading h4 {
    font-size: 37px;
    color: var(--box3-color);
    font-weight: 700;
}

.ea_customer_heading {
    position: relative;
}

.ea_customer_heading:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 155px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
    bottom: -20px;
}

.ea_happy_customer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 14px 10px;
    border-radius: 10px;
    filter: drop-shadow(5.851px 5.456px 8px rgba(0, 0, 0, 0.04));
    background-color: var(--box1-color);
    position: relative;
}

.ea_custom_box {
    margin-top: 72px;
}

.ea_happy1 {
    left: -19px;
    top: 4px;
    position: absolute;
}

.ea_happy2 h1 {
    font-size: 40px;
    color: #ff8c4b;
    font-weight: 800;
}

.ea_happy2 {
    padding-left: 144px;
}

.ea_happy2 p {
    font-size: 24px;
    color: var(--box3-color);
    font-weight: 700;
}

.ea_happy_customer:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 82px;
    border-radius: 3px;
    background-color: #f99644;
    z-index: 1;
    right: 0;
}

.ea_happy_para h2 {
    font-size: 20px;
    color: #ff8c4b;
    font-weight: 800;
    padding-bottom: 10px;
    position: relative;
    padding-left: 15px;

}

.ea_happy_para p {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
}

.ea_happy_para {
    padding: 30px 50px 30px 29px;
    border-radius: 10px;
    filter: drop-shadow(5.851px 5.456px 8px rgba(0, 0, 0, 0.04));
    background-color: var(--box1-color);
    position: relative;
    margin-bottom: 20px;
    margin-left: 60px;
}

.ea_inner_happy_para {
    position: absolute;
    right: 16px;
    bottom: 14px;
}

.ea_happy_para h2:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 10px;
    background-color: #ff8c4b;
    left: 0px;
    top: 12px;
}

/* ------main features section------- */

.ea_main_features_section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ea_main_features_heading h2 {
    font-size: 34px;
    color: var(--box3-color);
    font-weight: 700;
    text-align: center;
}

.ea_main_features_heading h2 {
    padding-bottom: 20px;
}

.ea_bigger_deal h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.ea_bigger_deal {
    background-image: url(../images/text-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ea_bigger_deal h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 32px 209px 19px 186px;
    color: #ffffff;
}

.ea_main_features_3box {
    margin-top: 60px;
}

.ea_installer_heading h2 {
    font-size: 20px;
    color: #ff8c4b;
    font-weight: 800;
    padding-bottom: 3px;
}

.ea_installer_heading p {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
}

.ea_installer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ea_installer {
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding: 24px 38px 24px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all 0.3s linear;
}

.ea_installer:hover {
    background-color: #ffff;
    filter: drop-shadow(0 0 25px rgba(106, 92, 178, 0.1));
}

.ea_Dashboard1 img {
    margin-top: -78px;
}

.ea_main_features_img {
    padding-top: 150px;
}

.ea_installer_img {
    width: 23%;
}

.ea_installer_heading {
    width: 77%;
}

/* ----multi admin section ---- */
.ea_multi_admin_section {
    background-color: #fff9f5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.ea_multi_90 {
    padding-right: 87px;

}

/* ----edit option section ---*/

.ea_edit_option h2 {
    padding-left: 216px;
}

.ea_edit_option:before {
    left: 40%;
}

.ea_edit_option_Section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* -------offiline payment section------- */
.ea_offiline_payment_section {
    background-color: #fff9f5;
    padding-top: 80px;
    /* padding-bottom: 31px; */
}

.ea_women_img {
    margin-top: 55px;
}

.ea_offiline_payment_heading h2 {
    font-size: 35px;
    color: #222222;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.ea_offiline_payment_heading h2:before {
    position: absolute;
    content: '';
    width: 311px;
    height: 3px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ea_offiline.payment_00 {
    padding-top: 80px;
}

/*--------- dashboard section -------*/
.ea_dashboard_section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* ---------more awesome features  -------*/
.ea_more_awesome_features_section {
    background-color: #f9f9f9;
    padding-top: 80px;
}

.ea_more_heading h3 {
    font-size: 34px;
    color: var(--box3-color);
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.ea_more_heading h2 {
    font-size: 38px;
    color: var(--box4-color);
    font-weight: 700;
    text-align: center;
    padding-bottom: 80px;
}

.ea_offerinc_icon {
    border-radius: 10px;
    filter: drop-shadow(7.502px 8.045px 9px rgba(0, 0, 0, 0.04));
    background-color: var(--box1-color);
    padding: 30px 10px;
    text-align: center;
    margin-bottom: 80px;
}

.ea_offerinc_icon p {
    font-size: 18px;
    color: var(--box3-color);
    font-weight: 800;
    text-align: center;
}

/* -------benefits section -------------- */
.ea_benefits_section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.ea_benefits_section::before {
    position: absolute;
    content: "";
    inset: 0px;
    background-image: url("../images/BG-shapes3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 306px;
    left: 38px;
    right: 0;
    bottom: 0;
}

.ea_benefits_heading h3 {
    font-size: 34px;
    color: #222222;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.ea_benefits_heading h2 {
    font-size: 38px;
    color: #ff8c4b;
    font-weight: 700;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.ea_benefits_heading h2:before {
    position: absolute;
    content: "";
    width: 140px;
    height: 3px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
    top: 56px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*---------- table--------- */
.ea_benefits_table tr th {
    border-bottom: none;
}

table.table.ea_benefits_table thead {
    max-width: 1170px;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(3.441px 4.915px 8px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
}

table.table.ea_benefits_table thead th {

    font-size: 20px;
    color: #ffffff;
    font-weight: 800;
}

.ea_benefits_table {
    border-radius: 10px;
    filter: drop-shadow(0 0 25px rgba(106, 92, 178, 0.1));
    background-color: #ffffff;
}

.ea_benefits_table tbody td,
.ea_benefits_table tbody td p {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
    padding: 23px 0px;
    max-width: 250px;
}

table.table.ea_benefits_table>thead>tr>th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

table.table.ea_benefits_table>thead>tr>th:nth-child(3) {
    border-radius: 0 10px 0 0;
}

table.table.ea_benefits_table thead th {
    padding: 13px 20px;
}

.ea_inner_table h4 {
    font-size: 16px;
    color: #222222;
    font-weight: 600;
}

.ea_inner_table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.chart-holder table {
    border-radius: 10px;
}

.ea_benefits_table tbody tr:last-child td {
    border: none;
}

/*------ download section--------- */
.ea_download_section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f9f9f9;
}

.ea_dewnload_heading p {
    font-size: 34px;
    color: #222222;
    font-weight: 500;
    text-align: right;
    padding-bottom: 10px;
}

.ea_dewnload_heading h6 {
    font-size: 36px;
    color: #ff8c4b;
    font-weight: 700;
    text-align: right;
    text-transform: inherit;
    position: relative;
}

.ea_dewnload_heading h6:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 162px;
    filter: drop-shadow(0 0 60px rgba(252, 145, 40, 0.2));
    background-image: linear-gradient(90deg, #ff874c 0%, #fdc72f 100%);
    right: 0;
    top: 53px;
}

.ea_download_inner_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

/*------ download section--------- */
/* ---------teaching section -------*/
.ea_teaching_section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.ea_teaching_heading h3 {
    font-size: 38px;
    color: #222222;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.ea_teaching_para p {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px 27px;
    color: rgb(255, 255, 255);
    border-radius: 5px;

}

.ea_teaching_para {
    background-image: linear-gradient(90deg, rgb(255, 135, 76) 0%, rgb(253, 199, 47) 100%);
    color: rgb(255, 255, 255);
    margin-left: 81px;
    margin-right: 81px;
    position: relative;

}

.ea_teaching_para img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ea_teaching_img {
    padding-top: 41px;
}

/* -----------e-academy section---------- */
.ea_e_academy_section {
    background-color: #f9f9f9;
    padding-top: 80px;
    padding-bottom: 80px;
}

.a_e_academy_heading h3 {
    font-size: 34px;
    color: #222222;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.a_e_academy_heading h2 {
    font-size: 38px;
    color: #ff8c4b;
    font-weight: 700;
    text-align: center;
}

.demo1 h2 {
    font-size: 20px;
    color: #ff8c4b;
    font-weight: 800;
    padding-bottom: 5px;
}

.demo1 p {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
    font-family: "Manrope";
}

.demo1 {
    background-image: url(../images/Shape-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 122px 54px 64px;
    margin: 50px 0;
    position: relative;
}

.demo1::before {
    position: absolute;
    content: url('../images/landing-img222222/Arrow-1.png');
    top: 50%;
    left: -50px;
}

.demo2 {
    background-image: url(../images/landing-img222222/Shape-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 59px 59px 139px;
    margin: 50px 0;
    position: relative;
}

.demo2::before {
    position: absolute;
    content: url('../images/landing-img222222/Arrow-2.png');
    top: 50%;
    right: -45px;
}

.demo2 h2 {
    font-size: 20px;
    color: #ff8c4b;
    font-weight: 800;
    padding-bottom: 5px;
}

.demo2 p {
    font-size: 16px;
    color: #797979;
    font-weight: 400;
    font-family: "Manrope";
}

/* ----------footer section--------- */
footer {
    background-color: #08193c;
    padding: 10px 10px;
}

.ea_footer {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

/* ----------footer section--------- */


/*------------- responsive css -------*/
@media only screen and (max-width:1300px) {

    .ea_benefits_table tbody td,
    .ea_benefits_table tbody td p {
        font-size: 16px;
        color: #797979;
        font-weight: 400;
        padding: 23px 10px;
        max-width: 250px;
    }

}

@media only screen and (max-width:1200px) {
    .ea_by_eacademy_para {
        left: 0;
    }

    .ea_download_inner_img {
        flex-wrap: wrap;
    }

    /* .table-nextofkin {
        overflow-x: scroll !important;
        max-width: 926px;
    } */
}

@media only screen and (max-width:991px) {
    .ea_by_eacademy_para {
        position: inherit;
    }

    .ea_banner_content h2 {
        font-size: 32px;
    }

    .ea_premium_heading h2 {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .ea_bigger_deal {
        background-size: contain;
    }

    .ea_bigger_deal h2 {
        font-size: 22px;
        padding: 32px 82px 17px 8px;
    }

    .ea_custom_box {
        padding-bottom: 30px;
    }

    .ea_premium_heading:before {
        bottom: 28px;
    }

    .ea_edit_option h2 {
        padding-left: 0px;
    }

    .ea_edit_option:before {
        left: 0;
    }

    .ea_dewnload_heading h6 {
        font-size: 29px;
    }

    .ea_dewnload_heading h6:before {
        top: 76px;
    }
}

@media only screen and (max-width:767px) {
    .ea_man_inner_man {
        padding-top: 52px;
    }

    .ea_man_img01 {
        text-align: center;
    }

    .ea_admin {
        max-width: 100% !important;
    }

    .ea_dewnload_heading p {
        text-align: left;
    }

    .ea_dewnload_heading h6 {
        text-align: left;
    }

    .ea_dewnload_heading h6:before {
        left: 0;
    }

    .ea_teaching_para p {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .ea_benefits_heading h2 {
        font-size: 30px;
    }

    .ea_offiline_payment_heading h2 {
        font-size: 30px;
    }

    .ea_happy_para {
        margin-left: 0px;
    }

    .ea_inner_table {
        padding: 10px 7px;
    }

}

@media only screen and (max-width:611px) {
    .demo2::before {
        display: none;
    }

    .demo1::before {
        display: none;
    }

    .demo1 p {
        font-size: 13px;
    }

    .demo2 p {
        font-size: 13px;
    }
}

@media only screen and (max-width:450px) {
    .demo2 {
        padding: 72px 12px 79px 64px;

    }

    .demo1 {
        padding: 81px 47px 75px 19px;
    }

}

@media only screen and (max-width:438px) {
    .ea_benefits_heading h2 {
        font-size: 21px;
    }

    .ea_benefits_heading h2:before {
        top: 44px;
    }
}

@media only screen and (max-width:425px) {
    .ea_offiline_payment_heading h2:before {
        top: 86px;
    }

    .demo1 {
        margin: 0;
    }

    .demo2 {
        margin: 0;
    }

}

@media only screen and (max-width:575px) {
    .ea_premium_img {
        max-width: auto !important;
        max-width: 100%;
    }
}

@media only screen and (max-width:320px) {
    .ea_premium_heading h2 {
        font-size: 35px;
        text-align: center;
    }

    .ea_premium_heading:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .ea_by_eacademy_para {
        padding: 20px 8px;
    }

    .ea_by_eacademy_para li {
        font-size: 16px;
    }

    .ea_customer_heading h4 {
        font-size: 35px;
    }

    .ea_customer_heading:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .ea_happy2 {
        padding-left: 102px;
    }

    .ea_bigger_deal h2 {
        font-size: 12px;
        padding: 5px 8px 11px 8px;
    }

    .ea_main_features_3box {
        margin-top: 0px;
    }

    .ea_multi_90 {
        padding-right: 0px;
    }

    .ea_offiline_payment_heading h2:before {
        width: 146px;
        top: 71px;
    }

    .ea_dewnload_heading p {
        text-align: center !important;
    }

    .ea_dewnload_heading h6 {
        text-align: center;
    }

    .ea_dewnload_heading h6:before {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .demo1 {
        margin: 0;
    }

    .demo2 {
        margin: 0;
    }

    .demo2 h2 {
        font-size: 15px;
    }

    .demo1 h2 {
        font-size: 15px;
    }

    .ea_teaching_para {
        margin-left: 0;
        margin-right: 0;
    }
}

.ea_man_img01 {
    padding-bottom: 50px;
}

/* new css */
.ea_com_heading h1 {
    font-size: 34px;
    color: #222222;
    font-weight: 500;
    font-family: "Manrope";
    text-align: center;
}

.ea_com_heading h2 {
    font-size: 38px;
    color: #ff8c4b;
    font-weight: 700;
    font-family: "Manrope";
    text-align: center;
}

.ea_com_heading {
    padding-bottom: 20px;
}

.ea_btn a {
    transition: all 0.3s;
}

.ea_btn2 a {
    transition: all 0.3s;
}

.ea_btn a:hover {
    background-image: linear-gradient(-51deg, #fdc72f 0%, #ff874c 100%);
}

.ea_btn2 a:hover {
    background-image: linear-gradient(-51deg, #fdc72f 0%, #ff874c 100%);
}